{% extends "news/default.html" %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
News
{% endblock title %}

{% block content %}
<h1> News </h1>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Search" />
</form>

<hr>
    <h3>Total number of news: {{ news|length }}</h3>

   {% if news %}
   <table>
    <tr>
        <td>Title</td>
        <td>Date</td>
        <td>Content</td>
    </tr>
   
    {% for item in news %}
    <tr>
        <td>{{ item.title|censor }}</td>
        <td>{{ item.created_at|date:'d m y' }}</td>
        <td>{{ item.text|censor|truncatewords:20 }}</td>
    
    </tr>
    {% endfor %}

</table>
    {% else %}
       <h2>No news</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    <h1>News list</h1>
    {{ news }}

{% for category in categories %}
    <h2>{{ category.category }}</h2>
    <!-- Other category details and news items -->
    {% if user.is_authenticated %}
        {% if user in category.subscribers.all %}
            <form action="{% url 'unsubscribe_from_category' category.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Отписаться</button>
            </form>
        {% else %}
            <form action="{% url 'subscribe_to_category' category.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Подписаться</button>
            </form>
        {% endif %}
    {% endif %}
{% endfor %}

{% endblock content %}